<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>Super Cool Games</title>
    </head>

    <body>
        <h2>Update Genre</h2>
        <p>Original: <%= name[0].name%></p>
        <form action="/dev/update" method="POST">
            <p>
                Developer:
                <input type="text" name="name" value="<%= name[0].name%>">
            </p>

            <input type="hidden" name="id" value="<%= id%>">

            <input type="submit"  value="Submit Change">
        </form>

        <form action="/dev/delete" method="POST">
            <input type="hidden" name="id" value="<%= id%>">

            <input type="submit" value="Delete Developer">
        </form>
        
    </body>
</html>