<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Games</title>
</head>
<body>
  <a href="/games/new">Create Game</a>
  <table>
    <tr>
      <th>Game Title</th>
      <th>Developer</th>
      <th>Genre</th>
      <th>Age Limit</th>
    </tr>
    <% for(let i = 0; i < results.length; i++) { %>
    <tr>
      <td><%= results[i].title %></td>
      <td><%= results[i].name %></td>
      <td><%= results[i].genre %></td>
      <td><%= results[i].ageLimit %></td>
      <td>
        <form action="/games/update/<%=results[i].id%>" method="get">
          <input type="submit" value="Update">
        </form>
        <form action="/games/delete" method="post">
          <input type="hidden" name="id" value="<%=results[i].id%>">
          <input type="submit" value="Delete">
        </form>
      </td>
    </tr>
    <% } %>
  </table>
</body>
</html>