<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Games</title>
</head>
<body>
  <a href="/games/new">Create Game</a>
  <table>
    <th>
      <td>Game Title</td>
      <td>Developer</td>
      <td>Genre</td>
      <td></td>
    </th>
    <% for(let i = 0; i < results.length; i++) { %>
    <tr>
      <td><%= results[i].title %></td>
      <td><%= results[i].name %></td>
      <td><%= results[i].genre %></td>
      <td>
        <button>Update</button>
        <button>Delete</button>
      </td>
    </tr>
    <% } %>
  </table>
</body>
</html>