<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Games | New</title>
  <link rel="stylesheet" href="/stylesheets/games.css">
</head>
<body>
  <a href="/games">Back to View Games</a>
  <h1>Create Game</h1>
  <form action="/games/create" method="POST">
    <div class="form-input">
      <label for="title">Game Title</label>
      <input type="text" name="title" id="title" required>
    </div>
    <div class="form-input">
      <label for="developer">Developer</label>
      <select name="developer" id="developer">
        <% for(let i = 0; i < developers.length; i++) { %>
          <option value="<%= developers[i].id %>"><%= developers[i].name %></option>
        <% } %>
      </select>
    </div>
    <div class="form-input">
      <label for="genre">Genre</label>
      <select name="genre" id="genre">
        <% for(let i = 0; i < genres.length; i++) { %>
          <option value="<%= genres[i].id %>"><%= genres[i].genre %></option>
        <% } %>
      </select>
    </div>
    <div class="form-input">
      <label for="ageLimit">Age Limit</label>
      <input type="number" name="ageLimit" id="ageLimit" min="0" required>
    </div>
    <div class="form-input">
      <input type="submit" value="Add Game">
    </div>
  </form>
</body>
</html>