<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/main.css">
        <title>Genre Update</title>
    </head>

    <body>
        <h2>Update Genre</h2>
        <p><a href="/michael">Return</a><p>
        <p>Original: <%= genre[0].genre%></p>
        <form action="/genre/update" method="POST">
            <p>
                Genre:
                <input type="text" name="genre" value="<%= genre[0].genre%>">
            </p>

            <input type="hidden" name="id" value="<%= id%>">

            <input type="submit"  value="Submit Change">
        </form>
        <form action="/genre/delete" method="POST">
            <input type="hidden" name="id" value="<%= id%>">

            <input class="deleteBtn" type="submit" value="Delete Genre">
        </form>
    </body>
</html>