<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>Super Cool Games</title>
    </head>

    <body>
        <ul>
            <li><a href="index.html">Index</a></li>
            <li><a href="max.html">Max</a></li>
            <li><a href="juan.html">Juan</a></li>
            <li><a href="ethan.html">Ethan</a></li>
            <li><a href="michael.html">Michael</a></li>
        </ul>
        <form method="POST">
            <p>
                Genre:
                <input id="genreField" type="text" name="genre" form="myForm">
            </p>

           <input type="button"  value="Submit Genre" onclick="genreSubmit()">
        </form>

            <P>
                Developer: 
                <input id="devField" type="text" name="developer">
            </P>

            <input type="button" value="Submit Developer" onclick="devSubmit()">

            <script>
                function genreSubmit() {
                    var temp = document.getElementById('genreField');
                    console.log(temp.value);
                }
                
                function devSubmit() {
                    var temp = document.getElementById('devField');
                    console.log(temp.value);
                }
            </script>
    </body>
</html>