<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/main.css">
        <title>Add Genre & Dev</title>
    </head>

    <body>
        <ul>
            <li><a href="index.html">Index</a></li>
            <li><a href="max.html">Max</a></li>
            <li><a href="juan.html">Juan</a></li>
            <li><a href="ethan.html">Ethan</a></li>
            <li><a href="michael.html">Michael</a></li>
        </ul>

        <h2>Add Genre & Developers</h2>

        <form action="/addGenre" method="POST">
            <p>
                Genre:
                <input type="text" name="genre">
            </p>

            <input type="submit"  value="Submit Genre">
        </form>
        <form action="/addDev" method="POST">
            <P>
                Developer: 
                <input type="text" name="dev">
            </P>

            <input type="submit" value="Submit Developer">
        </form>

        <br>
        <h3><a href="/showGenres">Show Genres</a></h3>
        
        <br>

        <h3><a href="/showDevs">Show Developers</a></h3>

    </body>
</html>