<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/main.css">
        <title>Add Genre & Dev</title>
    </head>

    <body>
        <a href="/juan">Return</a>

        <p>Switch User Game</p>

        <form action="/updateUserGame" method="POST">
        
            <select name="user" id="user">
                <option value="<%= currUser%>">
                    <%= currentField[0].userName%>
                </option>
            </select>

            <select name="game" id="game">
                <option value="<%currGame%>">
                    <%= currentField[0].title%>
                </option>
            </select>

            <input type="submit" value="Update">
        </form>

        

    </body>
</html>