<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/main.css">
        <title>Add Genre & Dev</title>
    </head>

    <body>
        <a href="/juan">Return</a>

        <h2>Switch User Game</h2>

        <form action="/updateUserGame/<%= oldUser%>/<%= oldGame%>" method="POST">
        
            <p>Current UserName: <%= currentField[0].userName%></p>
            <p>Current Game: <%= currentField[0].title%></p>


            <select name="user" id="user">
                <%for (var i = 0; i < users.length; i++) { %>
                    <option value="<%= users[i].id%>"><%= users[i].userName%></option>
                <%}%>
            </select>

            <select name="game" id="game">
                <%for (var i = 0; i < games.length; i++) { %>
                    <option value="<%= games[i].id%>"><%= games[i].title%></option>
                <%}%>
            </select>

            <input type="submit" value="Update">
        </form>

        

    </body>
</html>